*{
    margin: 0;
    padding: 0;
    
}

.header{
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 15px 10px -15px rgba(0, 0, 0, 0.3);
}

.logo{
    width: 35px;
    padding: 5px 0px 10px 0px;
    margin: 10px 0px 0px 30px;
}

.nav-items{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.location p{
    margin-top: 30px;
    font-size: 17px;
    margin-left: -100px;
}

.nav-items ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-items ul li{
    color: black;
    padding: 10px;
    margin: 0px 15px;
    list-style: none;
    font-size: 20px;   
}
.nav-items ul li i{
    color: black;
    padding: 8px;
    margin: 0px 0px;
    list-style: none;
    font-size: 17px;   
}



.res-tital{
    margin: 50px 50px 0px 70px;
    font-size: 23px;
}
.res-container{
    margin: 20px 50px 50px 50px;
    display: flex;
    flex-wrap: wrap;
    
}

.res-card{
    width: 250px;
    /* height: 320px;  */
    margin: 20px 20px 40px 20px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.res-card h3{
    font-size: 18px;
    padding: 5px;
}

.res-card h4{
    font-size: 15px;
    padding: 5px;
    font-weight: 400;
}

.res-logo{
    width: 100%;
}